:root {
  background-color: white;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

.header-home {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-home ul {
  display: flex;
  list-style-type: none;
}

.header-home ul li {
  margin-right: 60px;
}

.header-home ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-home-p {
  margin-right: 20px;
  font-size: 32px;
  font-family: 'Rochester', cursive;
  font-weight: 400;
  font-style: normal;
}

.container_icon_user {
  height: 25px;
  width: 25px;
  border-radius: 24px;
  padding: 0px;
  display: flex;
  border: 1px solid black;
}

.gr-nav-home {
  display: flex;
  align-items: center;
}

.mySwiper {
  display: flex;
  height: 400px;
  width: 100%;
  z-index: 100;
}
.container_swiper {
  width: 100%;
  height: 400px;
  overflow: hidden; /* Đảm bảo hình ảnh không bị tràn */
}

.container_swiper img {
  width: 100%; /* Hình ảnh sẽ rộng bằng chiều rộng của div */
  height: 100%; /* Hình ảnh sẽ cao bằng chiều cao của div */
  object-fit: cover; /* Đảm bảo hình ảnh luôn lấp đầy không gian div mà không bị méo */
}
.container_div_home_welcome {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.container_home_welcome {
  background-color: white;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Rochester', cursive;
  font-weight: 400;
}

.text_welcome {
  font-size: 32px;
  margin: 0;
  font-weight: 500;
}

.text_description_welcome {
  font-size: 24px;
  padding: 0 20px 0 40px;
}

.container_description_img_view {
  margin: 100px 10px 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.container_description_view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 0 20px 0 20px;
  position: relative;
  left: 40px;
}

.container_image_view {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text_name_view {
  font-size: 32px;
  margin: 0;
  font-family: 'Rochester', cursive;
  font-weight: 400;
  color: black;
}

.text_description_view {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6em;
  height: auto;
  max-height: 8em;
  font-size: 24px;
  -webkit-line-clamp: 5;
  font-weight: 500;
  color: black;
  font-family: 'Rochester', cursive;
  text-align: center;
}

.button_booking {
  width: 150px;
  border-radius: 2px;
  border: none;
  font-weight: 600;
  padding: 16px;
  margin-bottom: 8px;
}

.container_description_img_view_left {
  margin: 100px 0px 0px 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.container_description_view_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 500px;
  padding: 0 20px 0 20px;
  position: relative;
  right: 40px;
}

.container_image_view_left {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img_card_view_left {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.img_card_view_right {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.text_name_view_left {
  font-size: 32px;
  margin: 0;
  font-family: 'Rochester', cursive;
  font-weight: 400;
  color: black;
}

.text_description_view_left {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6em;
  height: auto;
  max-height: 8em;
  font-size: 24px;
  -webkit-line-clamp: 5;
  font-weight: 500;
  color: black;
  font-family: 'Rochester', cursive;
  text-align: center;
}

.button_booking_left {
  width: 150px;
  border-radius: 2px;
  border: none;
  font-weight: 600;
  padding: 16px;
  margin-bottom: 8px;
}

.footer_home {
  display: flex;
  background-color: white;
  margin-top: 32px;
  flex-direction: column;
  width: 100%;
}

.container_footer_social_media {
  align-items: end;
  display: flex;
}

.img_icon_social_media {
  height: 50px;
  margin-right: 20px;
}

.text_email,
.text_phone_number {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.text_address {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.card_view_welcome_transition-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.card_view_welcome_transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 4000ms, transform 4000ms;
}

.card_view_right_transition-enter {
  opacity: 0;
  transform: translateX(100px); /*hướng di chuyển phải - trái*/
}

.card_view_right_transition-enter-active {
  opacity: 1;
  transform: translateX(0); /* Đặt lại vị trí ban đầu*/
  transition: opacity 4000ms, transform 4000ms; /* Thời gian chuyển tiếp*/
}

.card_view_left_transition-enter {
  opacity: 0;
  transform: translateX(-100px); /*hướng di chuyển trais - phải*/
}

.card_view_left_transition-enter-active {
  opacity: 1;
  transform: translateX(0); /* Đặt lại vị trí ban đầu*/
  transition: opacity 4000ms, transform 4000ms; /* Thời gian chuyển tiếp*/
}

.container_content_main_home {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(white, #bcbbbb);
  margin: 0 150px 0 150px;
  border: 2px 0 black;
}

.container_text_icon {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .container_description_img_view {
    /* margin: 100px 0px 0px 12px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
  }

  .container_description_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(121, 121, 121), #737373);
    opacity: 0.8;
    max-width: 500px;
    padding: 0 20px 0 20px;
    margin: 0;
    left: 0;
    top: 50px;
  }

  .container_description_img_view_left {
    /*  margin: 100px 0px 0px 24px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: start;
  }
  .container_description_view_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(121, 121, 121), #737373);
    opacity: 0.8;
    max-width: 500px;
    /*  padding: 0 20px 0 20px; */
    position: relative;
    right: 0;
    bottom: 50px;
  }
}
